.ListHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ListHeader header {
  font-size: 35px;
}

.ListHeader button {
  height: 50px;
  width: 140px;
  align-self: flex-end;
  margin-right: 20px;
  background-color: #0f2c6e;
  color: white;
  border-radius: 7px;
}
